[Desktop Entry]
Version=1.0
Type=Application
Name=Nhac
Comment=Flutter music player application
Exec=nhac
Icon=dev.myyc.nhac
Terminal=false
Categories=AudioVideo;Audio;Music;Player;
StartupWMClass=Nhac